:root {
    --primary-color: #071c07;
    --accent1-color: #02335a;
    --accent2-color: #ecc011;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, Sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 840px;
    text-align: center;
    padding: 16px;
    background-color: rgba(42, 75, 141, 0.7);
    box-sizing: border-box;
    border-radius: 8px;
}

.hero article {
    position: absolute;
    right: 20px;
    bottom: 20px;
    max-width: 840px;
    padding: 12px 16px;
    background: rgba(0, 0, 0, 0.45);
    border: 2px solid #eeece4;
    border-radius: 8px;
    box-shadow: 10px 20px 18px rgba(0, 0, 0, 0.35);
    color: #eaebf2;
}

.hero article img {
    float: right;
    margin: 0 0 8px 12px;
    max-width: 150px;
    height: auto;
}