:root {
    --primary-color: #96c996;
    --secondary-color: #a8896d;
    --accent1-color: #02335a;
    --accent2-color: #ecc011;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, Sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
article {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #eaebf2;

}

.hero article img {
    position: absolute;
    float: right;
    width: 115px;
}